{%
 set classes = [
    'block',
    'block' ~ configuration.provider|clean_class
  ]
%}

<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
  <img src="/{{ directory }}/images/colorful-world-icon-33.png" alt="" />
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
